<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="5">
  <test thread-count="5" parallel="methods" name="Test">
    <classes>     
      <class name="testScripts.TC_2_DataDrivenLogin"/>
      <class name="testScripts.TC_1_LoginScenarios"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
